.form-stripe{
  padding: 20px;
  .dod{
    input: {
      padding: 0px 5px;
    }
  }
}

.stripe-content{
  min-height: 400px;
  button{
    height: 40px;
  }
}

.date-of-birth {
    .col-sm-4 {
        &:first-child {
        }
    }
}

.ssn{
  width:100px;
  float:left;
  margin-right: 5px;
}
