.image-edit{
	width: 100%;
	height: 100%;
	.new_file{
		border-radius: 4px;
		padding-left: 10px;
		padding-right: 10px;
		background-color: #176ce8;
	}

	p{
		width: 164px;
		text-align: center;
	}

	label{
		padding: 0px 0px 10px;
		&.btn-primary {
			padding: 10px;
		}
	}

	.cover-photo{
		height: 175px;
		background-repeat: no-repeat;
		width: 100%;
		margin: 10px 0;
		background-size: initial;
		background-position: center;
	}

	.not-cover-photo{
		min-height: 200px;
		p{
			width: 100%;
			font-size: 35px;
			padding: 50px 0;
			color: #565656;
		}
	}
	input[type=range] {
		-webkit-appearance: none;
		width: 164px;
		margin: 11px 0;
	}
	input[type=range]:focus {
		outline: none;
	}
	input[type=range]::-webkit-slider-runnable-track {
		width: 100%;
		height: 4px;
		cursor: pointer;
		box-shadow: 1px 1px 1px #565656, 0px 0px 1px #636363;
		background: #565656;
		border-radius: 0.6px;
		border: 0.2px solid #565656;
	}
	input[type=range]::-webkit-slider-thumb {
		box-shadow: 1px 1px 1px rgba(23, 108, 232, 0), 0px 0px 1px rgba(46, 123, 234, 0);
		border: 0px solid #176ce8;
		height: 20px;
		width: 20px;
		border-radius: 20px;
		background: #176ce8;
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: -9.2px;
	}
	input[type=range]:focus::-webkit-slider-runnable-track {
		background: #636363;
	}
	input[type=range]::-moz-range-track {
		width: 100%;
		height: 4px;
		cursor: pointer;
		box-shadow: 1px 1px 1px #565656, 0px 0px 1px #636363;
		background: #565656;
		border-radius: 0.6px;
		border: 0.2px solid #565656;
	}
	input[type=range]::-moz-range-thumb {
		box-shadow: 1px 1px 1px rgba(23, 108, 232, 0), 0px 0px 1px rgba(46, 123, 234, 0);
		border: 0px solid #176ce8;
		height: 26px;
		width: 26px;
		border-radius: 27px;
		background: #176ce8;
		cursor: pointer;
	}
	input[type=range]::-ms-track {
		width: 100%;
		height: 4px;
		cursor: pointer;
		background: transparent;
		border-color: transparent;
		color: transparent;
	}
	input[type=range]::-ms-fill-lower {
		background: #494949;
		border: 0.2px solid #565656;
		border-radius: 1.2px;
		box-shadow: 1px 1px 1px #565656, 0px 0px 1px #636363;
	}
	input[type=range]::-ms-fill-upper {
		background: #565656;
		border: 0.2px solid #565656;
		border-radius: 1.2px;
		box-shadow: 1px 1px 1px #565656, 0px 0px 1px #636363;
	}
	input[type=range]::-ms-thumb {
		box-shadow: 1px 1px 1px rgba(23, 108, 232, 0), 0px 0px 1px rgba(46, 123, 234, 0);
		border: 0px solid #176ce8;
		height: 26px;
		width: 26px;
		border-radius: 27px;
		background: #176ce8;
		cursor: pointer;
		height: 4px;
	}
	input[type=range]:focus::-ms-fill-lower {
		background: #565656;
	}
	input[type=range]:focus::-ms-fill-upper {
		background: #636363;
	}


}
.bottom-style{
	position: relative;
	bottom: 35px;
}