td {
	&.bold {
		font-weight: bold;
	}
	&.in-progress {
		color: #bc702d !important;
	}
	&.complete {
		color: #3f761a !important;
	}
	&.failed {
		color: #ab4646 !important;
	}
	&.actions {
		color: #d53333 !important;
		padding: 20px 0px !important;
		i {
			margin: 0px 10px;
			&:hover {
				cursor: pointer;
			}
		}
	}
}

.ReactModal__Overlay {
	background-color: rgba(0,0,0,.7) !important;
	.ReactModal__Content{
		padding: 0px !important;
	}
	#modal{
		@media (max-width:430px){
			top : 0%;
			width: 100%;
			left: 0px
		}
		background-color: #fff;
		width: 430px;
		top: 30%;
		position: absolute;
		left: calc(50vw - 215px);
		border-radius: 5px;
		#heading-modal{

			padding: 20px;
			background-color: rgba(45,172,209,.85);
		    border-radius: 5px;

				p{
					margin: 0px;
					color: #fff;
				}
				.close{
					color: #fff;
					opacity: 1;
				}
			}
			#body-modal{
				padding: 20px;	
				p{
					margin: 0px;
				}
			}
			#btn-modal{
				text-align: right;
				padding-right: 20px;
				padding-bottom: 20px;
				:hover{
					opacity: 0.8
				}
				button{
					width: 90px;
					height: 35px;
					background: #092b4f;
					color: #fff;
					border-radius: 5px;
					border: 1px;
				}
				#btn-cancel{
					margin-left: 20px;
				}
			
			}

	}

}
.link-color-eye{
	color: #d53333!important;
}