
#messages {
  padding: 16px 0 90px;

  .wrap {
    display: flex;
    justify-content: space-between;
    form {
      display: flex;
      width: 100%;
    }
  }

  h2 {
    color: #42424a;
    padding-top: 24px;
  }

  .btn {
    font-size: 20px;
    line-height: 1.2;
    padding: 28px 45px;
    height: 80px;
    border-radius: 40px;
    font-weight: normal;
    text-transform: none;
    letter-spacing: 0;
    box-shadow: -5px 5px 29px rgba(40, 187, 213, .52), inset 0 0 rgba(0, 0, 0, 0);

    i {
      font-size: 120%;
      line-height: 1;
      margin-right: 22px;
    }

    &:hover {
      box-shadow: -5px 5px 29px rgba(40, 187, 213, .52), inset 0 80px rgba(0, 0, 0, 0.1);
    }
  }

  .btn-search {
    display: inline-block;
    font-size: 20px;
    line-height: 1.2;
    color: #2fc7dd;
    padding: 28px 20px;
    margin-right: 20px;

    i {
      font-size: 120%;
      line-height: 1;
      margin-right: 14px;
      vertical-align: middle;
    }

    &:hover {
      color: #41414a;
    }
  }

  .avatar {
    width: 50px;
    height: 50px;
    position: relative;

    img {
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .status {
      position: absolute;
      top: 0;
      right: -4px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 4px solid #fff;
      background: lightgrey;
      box-shadow: 0 2px 3px rgba(0, 0, 0, .1);

      &.online {
        background: #37cb80;
      }

      &.away {
        background: linear-gradient(225deg, #ffbb51 0%, #ffd074 100%);
      }
    }
  }

  .messages-top {
    margin-bottom: 30px;
  }

  .messages-main {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    height: 550px;

    .wrap {
      height: 100%;
    }

    .side {
      width: 300px;
      height: 100%;
      position: relative;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);

      .title {
        padding: 25px 20px;
        height: 80px;
        background: #44444e;
        color: #fff;

        h4 {
          position: relative;
          display: flex;
          align-items: center;
          width: 100%;
          font-size: 24px;
          font-weight: normal;
          margin: 0;

          i {
            font-size: 20px;
            vertical-align: middle;
            margin: 0 0 0 24px;
          }

          .count {
            position: absolute;
            top: 0;
            right: 0;
            color: #fff;
            min-width: 34px;
            height: 33px;
            line-height: 33px;
            font-size: 20px;
            font-weight: 500;
            background: #ef503a;
            border-radius: 8px;
            padding: 0 4px;
            text-align: center;
          }
        }
      }

      .scroller {
        height: calc(100% - 80px);
        //overflow: auto;
        overflow-y: scroll;
      }

      ul.messages-list {
        list-style: none;
        padding: 10px 0;
        height: 100%;

        & > li {
          position: relative;
          min-height: 50px;
          padding: 10px 18px 10px 84px;
          cursor: pointer;
          transition: background .2s ease;

          .avatar {
            position: absolute;
            top: 0;
            left: 0;
            margin: 10px 0 0 18px;
          }

          h4.name {
            font-size: 18px;
            line-height: 1.2;
            color: #44444e;
            font-weight: normal;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin: 0 0 8px;

            span {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            .count {
              font-size: 20px;
              line-height: 1;
              font-weight: bold;
            }
          }

          .excerpt {
            font-size: 14px;
            line-height: 16px;
            color: #44444e;
            opacity: .6;
            margin: 0;
          }

          &.highlight {
            h4.name {
              color: #ef503a;
              font-weight: 500;
            }
          }

          &:hover {
            background: rgba(27, 177, 207, .24);
          }
        }
      }
    }

    .chat {
      width: calc(100% - 300px);
      height: 100%;
      position: relative;

      &.no-message {
        .overlay {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: auto;
          color: #fff;
          background: linear-gradient(135deg, #17a8c6 0%, #48e4ef 100%);

          .text {
            width: 300px;
            margin: 0 auto;
            text-align: center;

            h2 {
              font-size: 50px;
              color: #fff;
              font-weight: 300;
              padding: 0;
              margin: 0 0 30px;
            }

            p {
              font-size: 20px;
              line-height: 1.2;
              margin: 0 0 30px;
            }

            .btn {
              display: flex;
              justify-content: center;
              width: 100%;
              background: #fff;
              color: #30c9de;
              padding: 28px 20px;
              margin-bottom: 30px;
              border-radius: 40px;
              letter-spacing: 0;

              i {
                margin-right: 18px;
              }
            }
          }
        }
      }

      .chat-top {
        background: linear-gradient(to right, #6e6e77 0%, #696972 100%);
        color: #fff;
        height: 80px;
        padding: 11px 15px;

        .user {
          display: flex;
          align-items: center;

          h4.name {
            font-size: 20px;
            line-height: 1.2;
            margin: 0 0 0 20px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }

        .buttons {
          display: flex;
        }

        .btn {
          padding: 16px 30px;
          height: 58px;
          font-weight: normal;
          text-transform: none;
          background: #fff;
          border: 1px solid #fff;
          color: #2bc0d8;
          box-shadow: inset 0 0 rgba(0, 0, 0, 0);

          &:hover {
            box-shadow: inset 0 58px rgba(0, 0, 0, .1);
          }
        }

        .btn-outline {
          font-size: 20px;
          line-height: 1.2;
          padding: 16px 30px;
          color: #f9f9f9;
          border-radius: 29px;
          border-color: #e2e2e4;
          font-weight: normal;
          text-transform: none;
          margin: 0 8px 0 0;
        }
      }

      .chat-window {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        bottom: 80px;
        background: linear-gradient(135deg, #f0f0f0 0%, #fafafa 100%);
        overflow: auto;
        padding: 52px 72px 32px 66px;
      }

      ul.chat-messages {
        list-style: none;

        &:after {
          content: '';
          display: table;
          clear: both;
        }

        li {
          float: left;
          clear: both;
          position: relative;
          margin-bottom: 20px;
          background: #fff;
          color: rgba(0, 0, 0, .9);
          font-size: 16px;
          line-height: 1.31;
          padding: 17px 20px;
          border-radius: 4px;

          p {
            margin-bottom: 0px;
          }

          &:after {
            content: '';
            position: absolute;
            top: 17px;
            right: 100%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 13px 10px 0;
            border-color: transparent #fff transparent transparent;
          }

          &.me {
            float: right;
            background: #30c8dd;
            color: #fff;
            right: 20px;

            &:after {
              right: auto;
              left: 100%;
              border-width: 10px 0 10px 13px;
              border-color: transparent transparent transparent #30c8dd;
            }
            .avatar-message {
              position: absolute;
              top: 0;
              right: -66px !important;
              left: auto;
            }
          }

          time {
            position: absolute;
            top: 100%;
            right: 0;
            font-size: 12px;
            color: #c5c5d9;
            padding: 10px 0;
          }

          .avatar-message {
            position: absolute;
            top: 0;
            left: -66px;
          }
        }
      }

      .write-message {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 80px;
        background: linear-gradient(to right, #f9f9f9 0%, #fdfdfd 100%);
        box-shadow: 0 -1px #ededed;

        .wrap {
          align-items: center;
        }

        .field-message {
          display: block;
          width: calc(100% - 90px);
          background: transparent;
          border: 0;
          height: 80px;
          padding: 0 40px;
          font-size: 18px;
          color: #4e4e5b;
          max-height: 100%;
          resize: none;

        }

        .buttons {
          display: flex;
          align-items: center;
          padding-right: 42px;

          button {
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 0;
            cursor: pointer;
            text-align: center;
            margin: 0 4px;
            box-shadow: inset 0 0 rgba(0, 0, 0, 0);
            transition: box-shadow .2s ease;

            &.btn-icons {
            }

            &.btn-link {
            }

            &.btn-send {
              background: #ef503a;
              color: #fff;
              opacity: .7;
            }

            &:hover {
              opacity: 1;
              box-shadow: inset 0 40px rgba(0, 0, 0, .05);
            }
          }
        }
      }
    }
  }
}

#post-session {
  width: 1072px;
  max-width: calc(100vw - 40px);
  margin: 80px auto 20px;
  background: #fff;
  border-radius: 10px;
  position: relative;

  .popup-container {
    width: 746px;
    max-width: calc(100% - 80px);
    margin: 0 auto;
    padding: 90px 0;

    @media screen and (max-width: 767px) {
      padding-bottom: 40px;

      max-width: calc(100% - 40px);
    }
  }

  .form-header {
    text-align: center;

    .avatar {
      position: absolute;
      top: -60px;
      left: 50%;
      margin-left: -75px;
      width: 150px;

      img {
        display: block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }
    }

    h2.name {
      font-size: 50px;
      font-weight: 500;
      color: #505053;
      margin: 20px 0;

      @media screen and (max-width: 767px) {
        font-size: 36px;
      }
    }

    p {
      margin: 20px 0;
      opacity: .7;
    }

    .totals {
      display: flex;
      color: #a4aeb0;
      text-transform: uppercase;
      justify-content: center;
      letter-spacing: 0.05em;
      font-size: 24px;
      margin: 30px 0;

      & > div {
        margin: 0 40px;
      }

      span {
        color: #28bbd5;
      }

      @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        margin: 20px 0;

        & > div {
          width: 100%;
          margin: 10px 0;
        }
      }

      @media screen and (max-width: 420px) {
        font-size: 20px;

        span {
          display: block;
        }
      }
    }
  }

  .form-body {
    padding: 15px 0;

    textarea.field {
      display: block;
      width: 100%;
      height: 174px;
      margin-bottom: 32px;
      resize: none;
      border: 1px solid #d9d9d9;
      border-radius: 10px;
      background: #fff;
      color: #505053;
      padding: 30px 40px;

      @media screen and (max-width: 767px) {
        padding: 15px 20px;
      }
    }
  }

  .form-footer {
    .wrap {
      display: flex;
      justify-content: space-between;
    }

    @media screen and (max-width: 767px) {
      text-align: center;

      .wrap {
        display: block;
      }

      .rate {
        margin: 0 auto 30px;
      }

      ul.radio-list {
        justify-content: center;
      }

      .submit {
        margin: 0 auto;
      }
    }
  }

  .rate {
    text-align: center;
    p {
      opacity: .7;
    }

    ul.radio-list {
      display: flex;
      list-style: none;
      margin-bottom: 15px;

      li {
        margin-right: -1px;

        label {
          display: block;
          position: relative;
          cursor: pointer;

          input {
            position: absolute;
            opacity: 0;
            visibility: hidden;
          }

          span {
            display: block;
            border: 1px solid #e8e8e8;
            font-size: 20px;
            line-height: 1.2;
            color: #92939a;
            width: 49px;
            height: 50px;
            padding: 12px;
            text-align: center;
          }

          input:checked ~ span {
            position: relative;
            border-color: #28bbd5;
            background: #28bbd5;
            color: #fff;
          }
        }

        &:first-child {
          label {
            span {
              border-radius: 10px 0 0 10px;
            }
          }
        }

        &:last-child {
          label {
            span {
              border-radius: 0 10px 10px 0;
            }
          }
        }
      }
    }
  }

  .submit {
    display: block;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.1em;
    background: linear-gradient(to right, #20adcd 0%, #30c8dd 100%);
    border-radius: 10px;
    height: 80px;
    min-width: 240px;
    padding: 0 30px;
    text-align: center;
    box-shadow: inset 0 0 rgba(0, 0, 0, 0);

    &:hover {
      box-shadow: inset 0 80px rgba(0, 0, 0, .10);
    }
  }
}

@media screen and (max-width: 1440px) {
  #messages {
    padding: 30px 0;

    .messages-main {
      .chat {
        .chat-window {
          padding: 40px 60px;
        }
      }
    }
  }
}

@media screen and (max-width: 1279px) {
  #messages {
    padding: 30px 0;

    .messages-main {
      .chat {
        .chat-top {
          .buttons {
            display: block;
            margin-top: -4px;
          }
          .btn,
          .btn-outline {
            float: right;
            clear: right;
            height: 32px;
            font-size: 14px;
            padding: 8px 20px;
            white-space: nowrap;
            min-width: 140px;
            margin: 0 0 4px;
            text-align: center;
          }
        }
        .chat-window {
          padding: 30px;
        }

        .write-message {
          .field-message {
            width: calc(100% - 120px);
            padding: 0 20px;
          }

          .buttons {
            padding-right: 20px;
          }
        }

        &.no-message {
          .overlay {
            position: relative;
            min-height: 300px;

            .text {
              h2 {
                margin-bottom: 20px;
              }

              p {
                margin-bottom: 20px;
              }

              .btn {
                margin-bottom: 20px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #messages {
    h2 {
      padding-top: 0;
    }

    .messages-top {
      .wrap {
        flex-wrap: wrap;
      }

      h2 {
        width: 100%;
        margin-bottom: 10px;
      }

      .btn {
        font-size: 16px;
        height: 44px;
        padding: 10px 20px;

        i {
          margin-right: 12px;
        }
      }

      .btn-search {
        font-size: 16px;
        height: 44px;
        padding: 10px 20px;
      }
    }
    .messages-main {
      height: auto;

      & > .wrap {
        flex-wrap: wrap;
      }

      .side {
        width: 100%;
        height: auto;

        .scroller {
          height: auto;
          max-height: 360px;
        }
      }

      .chat {
        width: 100%;
        height: auto;

        .chat-window {
          position: static;
          height: auto;
          max-height: 360px;
        }

        .write-message {
          position: relative;
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  #messages {
    .messages-main {
      .chat {
        .chat-top {
          height: auto;

          .wrap {
            flex-wrap: wrap;
          }

          .user {
            width: 100%;
            margin-bottom: 20px;
          }

          .buttons {
            width: 100%;
            margin: 0;

            .btn,
            .btn-outline {
              width: 100%;
              height: 44px;
              padding: 12px 20px;
              font-size: 16px;
              margin-bottom: 8px;
            }
          }
        }

        &.no-message {
          .overlay {
            .text {
              padding: 0 20px;

              h2 {
                font-size: 30px;
              }

              p {
                font-size: 16px;
              }

              .btn {
                height: 44px;
                font-size: 16px;
                padding: 12px 20px;
                width: auto;

              }
            }
          }
        }
      }
    }
  }
}
